/*.table-view {*/
/*!*-fx-background-image: url("images/network-3537401_1920.jpg");*!*/
/*}*/
.root {
    -fx-background-color: rgb(225, 228, 203);
}

/*TableView*/

.table-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: #f1f8e9;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:even {
    -fx-background-color: #e8eaf6;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:selected {
    -fx-background-color: #f153f7;
    -fx-background-insets: 0, 0 0 1 0;
}

/*menu items */

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: darkgray;
}

.menu-item:focused .label {
    -fx-text-fill: blue;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

/*Buttons*/
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}